<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <h1>this my cvb project3</h1>
        <h2>all books  information</h2>
        {%  for book in book_list %}
            <li>Title:<strong>{{book.title}}</strong></li>
            <li>author:<strong>{{book.author}}</strong></li>
            <li>pages:<strong>{{book.pages}}</strong></li>
            <li>price:<strong>{{book.price}}</strong></li>
        <hr>
        {% endfor %}
</body>
</html>