<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<!--books==contestparametrs--> 
<body>
    <div class="container">
        <h1>{{books.title}} infromation </h1>
        <ul>
           <li>Title:<strong>{{books.title}}</strong></li>
           <li>author:<strong>{{books.author}}</strong></li>
           <li>pages:<strong>{{books.pages}}</strong></li>
           <li>price:<strong>{{books.price}}</strong></li>
        </ul>
    </div>
</body>
</html>